$root-font-size: 16px;

// TRANSITIONS
$default-transition-duration: 0.35s;
$fast-transition-duration: 0.15s;
$super-fast-transition-duration: 0.05s;
$long-transition-duration: 1s;
$default-transition-function: ease-out;

// FONTS
$default-font-family: 'Inter', sans-serif;

// BREAKPOINTS
$breakpoint-xl: 1920px;
$breakpoint-xm: 1680px;
$breakpoint-lm: 1440px;
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 768px;
$breakpoint-xs: 568px;

$base-desktop-width: 1440;
$default-height: 800;
$min-mobile-width: 375;
$min-zoom-width: 1025;
$max-zoom-width: 1920;

// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-bg-gray: #212121;
$color-persian-indigo: #6c22c6;
